/*MASTER PAGE*/

.search-wrapper {
    position: relative;
    flex-grow: 1;
    max-width: 420px;
}

.search-input {
    border-radius: 999px;
    padding-left: 18px;
    padding-right: 48px;
    height: 42px;
    border: 1.5px solid #ddd;
}

.search-icon-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #555;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
}
.search-icon-btn:hover {
        color: #0d6efd;
}
.footer-aloladu {
    background: #1712c9;
    color: #fff;
}

.footer-logo {
    font-size: 42px;
    font-weight: 900;
    letter-spacing: .5px;
}

.footer-title {
    font-weight: 800;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 14px;
    opacity: .95;
    line-height: 1.6;
}

.footer-social {
    display: flex;
    gap: 10px;
    align-items: center;
}

    .footer-social a {
        width: 26px;
        height: 26px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 999px;
        border: 1.5px solid rgba(255,255,255,.85);
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }

        .footer-social a:hover {
            opacity: .9;
        }

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

    .footer-menu a {
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
    }

        .footer-menu a:hover {
            text-decoration: underline;
        }

/* MENU ACTIVE */
.navbar-nav .nav-link.active {
    color: #fff !important;
    background: #1712c9 !important;
    font-weight: 700;
    border-radius: 900px;
    padding: 6px 12px;
}

/* Hover cho đẹp (optional) */
.navbar-nav .nav-link:hover {
    font-weight: 700 !important;
}



